[Unit]
Description=seekdb

[Service]
User=root
Type=notify
Environment=REPORTER=systemd
ExecStart=/usr/libexec/seekdb/scripts/seekdb_systemd_start
ExecStop=/usr/libexec/seekdb/scripts/seekdb_systemd_stop
PIDFile=/var/lib/seekdb/run/seekdb.pid
NotifyAccess=all
Restart=on-failure
RestartSec=3
KillMode=process
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
LimitSTACK=infinity

[Install]
WantedBy=multi-user.target
